* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    width: 100%;
    color: white;
    /* background-color: #383636; */
}

img {
    height: 100%;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* header-section */

.header-section {
    background-color: white;
}

.header-area {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 15px 50px;
}

.logo img {
    width: 150px;
}

.menu-parent {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menu-parent li {
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    color: gray;
}

.button-register {
    justify-self: end;
}

.button-register button {
    padding: 10px 20px;
    background: #2541f7;
    color: #fff;
    border: none;
    border-radius: 5px;

    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}

/* header-section end  */

.banner-section {
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.8) 35%,
            rgba(0, 0, 0, 0) 70%),
        url("./assets/banner.jpg");

    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.banner-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 27%;
    left: 1%;
    font-size: 30px;
}

.banner-text .button-register {
    position: absolute;
    top: 200%;
}
/* banner section end */

.card-image-section{
    padding: 30px 0;
}

.card-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 50px auto;
}

.card-text > h1 {
    color: #000000;
    text-align: center;
    font-size: 50px;
}
.card{
    border: 1px solid gray;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 20px;
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h1{
    font-size: 25px;
    padding: 15px 20px 5px;
    color: #222;
}

.card p, h4{
    font-size: 16px;
    color: gray;
    padding: 0 20px;
}
.card h4{
    font-size: 16px;
    color: rgb(60, 58, 206);
    padding: 0 20px;
    margin-top: 10px;
}
/* card style end */


.price-area{
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.price-card{
    background: #fff;
    padding: 40px 30px;
    border-radius: 10px;
    text-align: left;
    border: 1px solid gray;
}

.price-card h2 {
    color: gray;
    font-size: 17px;
}

.price-text{
    text-align: center;
}
.price {
    font-size: 59px;
    color: #000000;
}
.price-text p {
    font-size: 17px;
    color: gray;
}

.pro{color: #fff;}
.doller{color: #fff; font-size: 52px;}

.border-bottom{
    border-bottom: 1px solid gray;
}
.price-card h1{
    color: #222;
    font-size: 50px;
}

.price-card h1 span{
    font-size: 18px;
    color: gray;
}

.price-card ul{
    list-style: none;
}

.price-card ul li {
    position: relative;
    color: #555;
    padding: 12px 15px;
}

.price-card ul li::before {
    height: 8px;
    width: 8px;
    content: '';
    background: rgb(67, 165, 221);
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 16px;
}
.price-card button{
    background: #ffffff;
    color: #000000;
    border: 1px solid #0c0c0c;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
}
.primary{
    background-color: #0b0b0c;
}
.primary button{
    background-color: #1f51e6;
}
/* price style end */

.chatgpt{
    background:url(./assets/download.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 20px;
}

.video-box video {
    width: 46vw;
    height: 48vh;
}

.login-box{
    width:300px;
}

.login-box h2{
    margin-bottom:20px;
}

.login-box input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
    box-shadow:
        inset 3px 3px 8px rgba(6, 5, 5, 0.589),
        inset -3px -3px 8px rgba(255,255,255,0.8);

    transition: all .3s ease;
}

.login-btn{
    width:100%;
    padding:12px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}


.animated-btn{
    margin-top:20px;
    padding:14px 30px;
    border:none;
    background:#ff5722;
    color:#fff;
    font-size:18px;
    border-radius:50px;
    cursor:pointer;
    animation:pulse 1.5s infinite;
    transition:.3s;
}

.animated-btn:hover{
    background:#e64a19;
    transform:scale(1.08);
}

@keyframes pulse{
    0%{
        transform:scale(1);
        box-shadow:0 0 0 0 rgba(255,87,34,.6);
    }
    70%{
        transform:scale(1.08);
        box-shadow:0 0 0 20px rgba(255,87,34,0);
    }
    100%{
        transform:scale(1);
        box-shadow:0 0 0 0 rgba(255,87,34,0);
    }
}

/* chatgpt code and style end */